[submodule "site/plugins/comments"]
	path = site/plugins/comments
	url = https://github.com/dweidner/kirby-comments.git
[submodule "site/fields/selector"]
	path = site/fields/selector
	url = https://github.com/storypioneers/kirby-selector.git
