/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: red;
}
.work a {
  color: #fff;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  clear: both;
  content: "";
  display: table;
}


/* Site
-------------------------------------------------- */
html {
  font-family: "futura-pt", sans-serif;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #fff;
  color: #222;
  font-size: 1.25em;
  height: 100vh;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  width: 100vw;
}
.work {
  background: #000;
  background-size: 100%;
  color: #fff;
}
.white {
  color: #fff !important;
}
.red {
  color: rgba(246,64,60,1) !important;
}
.grey {
  color: rgba(129,109,110,1) !important;
}
.bg-white {
  background: #fff !important;
}
.overflow {
  overflow: hidden !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.text-center {
  text-align: center !important;
}
.bold {
  font-weight: 700 !important;
}
.underline {
  text-decoration: underline !important;
}

.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.none {
  display: none !important;
}
.flex {
  display: flex !important;
}

.flexGrow1 {
  flex: 1 0 auto;
}
.column {
  flex-flow: column;
}


.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.fixed {
  position: fixed !important;
}


.justify-around {
  justify-content: space-around !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-center {
  justify-content: center !important;
}

.pointer {
  cursor: pointer !important;
}

.background-mesh {
  background-position: center center;
  background-size: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Header
-------------------------------------------------- */
.header {
  height: 75px;
  margin-bottom: 1.5em;
}
.logo {
  display: block;
  float: left;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0em;
  padding: 1.3em;
  position: absolute;
  transition: color 0.5s ease-out;
  z-index: 1;
}
.work .logo, .capabilities .logo {
  color: #fff;
}
.logo img {
  width: 2em;
}


/* Navigation
-------------------------------------------------- */
nav {
  display: inline-block;
  float: right;
  height: 44px;
  overflow: hidden;
  margin-top: 1.5em;
  text-transform: uppercase;
  width: 0;
}

.menu {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease-out;
}
.menu.show {
  background: rgba(0,0,0,0.75);
  color: #fff;
  height: 100vh;
  opacity: 1;
  padding-top: 34vh;
  pointer-events: initial;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity .5s ease-out;
  width: 100%;
  z-index: 3;
}

.menu.show li:nth-child(1) {
  color: blue;
}  

.menu a {
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 4em;
}
.menu .active {
  color: #fff;
}
.menu li {
  border: 6px solid white;
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  transition: border .5s ease-out, color .2s ease-out;
  vertical-align: middle;
}
.menu > li {
  height: 18vw;
  position: relative;
  width: 18vw;
}

.menu li:hover {
  border: 6px solid #ff0000;
  color: #ff0000;
  text-decoration: none;
}
.menu > li > a {
  color: #fff;
  font-size: 4.3vw;
  font-weight: 600;
  height: 100%;
  line-height: 4vw;
  padding-top: 6.3vw;
  text-transform: none;
  width: 82%;
  word-break: break-all;
}

.menu li:nth-of-type(4) a {
  width: 50%;
}
.menu li:nth-of-type(3) a, .menu li:nth-of-type(4) a {
  padding-top: 4.1vw;
}

.menu > li > a:hover {
  color: #ff0000 !important;
}
.submenu {
  display: none;
  left: 1em;
  position: absolute;
  z-index: 1;
}
.submenu:before {
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
  border-top: .5em solid transparent;
  content: '';
  display: none;
  left: 0;
  position: absolute;
  top: -.5em;
  z-index: -1;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  background: #222;
  color: #fff;
  font-size: .9em;
  font-weight: 300;
  padding: .5em 1.5em;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}

#nav-icon {
  cursor: pointer;
  float: right;
  height: 45px;
  margin: 1.5em 1.5em 0 30px;
  position: absolute;
  right: 0;
  width: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 4;
}

#nav-icon span {
  background: #000;
  display: block;
  left: 0;
  opacity: 1;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.work #nav-icon span, .capabilities #nav-icon span {
  background: #fff;
}

/* Nav Icon */

#nav-icon span:nth-child(1) {
  top: 9px;
}

#nav-icon span:nth-child(2) {
  top: 18px;
}

#nav-icon span:nth-child(3) {
  top: 27px;
}

/*#nav-icon span:nth-child(4) {
  top: 36px;
}*/

#nav-icon.open span {
  background: #fff;
}

#nav-icon.open span:nth-child(1) {
  left: 50%;
  top: 18px;
  width: 0%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
}

#nav-icon.open span:nth-child(4) {
  left: 50%;
  top: 18px;
  width: 0%;
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: .5em;
}
h2 {
  color: red;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25em;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: .5em;
}
h4 {
  color: red;
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: .5em;
  line-height: 1.5em;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
}



/* Main
-------------------------------------------------- */
.home {
  height: auto;
}
.home .menu.show {
  z-index: 5;
}
.home .logo {
  color: #fff;
  position: absolute;
  z-index: 5;
}
.home #nav-icon {
  z-index: 6;
}
.home #nav-icon span {
  background: #fff;
  z-index: 5;
}
.home .text {
  margin-top: 150px;
}
.home .main {
  margin-bottom: 0;
  padding-bottom: 0;
}
.main {
  padding-bottom: 1.5em;
}
.main hr {
  background: #ddd;
  height: 2px;
  margin: 3em 0;
}
.main p,
.main figure,
.main ol {
  margin-bottom: 1.5em;
}
.main a:hover {
  border-color: #222;
}

.home .video-holder {
  display: block;
  height: 100vh;
  margin-top: -105px;
  position: relative;
  width: 100vw;
}
.home .video-holder .fa-volume-up, .home .video-holder .fa-volume-off {
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 10px;
  z-index: 3;
}
.home .video-holder .fa-volume-off {
  right: 19px;
}
.home .video-overlay {
  cursor: pointer;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 3;
}

.home video {
  display: block;
  height: auto;
  pointer-events: none;
  position: absolute;
  top: -20px;
  width: 105%;
}

.home .video-holder h3 {
  background: #fff;
  bottom: 30px;
  color: #000;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
  left: 43%;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.home .get-animation {
  display: none;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease-out;
  width: 100vw;
  z-index: 2;
}

.main .big-text {
  font-size: 68px;
  font-weight: 800;
  line-height: 60px;
  margin-left: 140px;
  text-transform: uppercase;
  width: 405px;
}

.main .hold-down {
  font-size: 32px;
  font-weight: 800;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.main .hold-down p {
  margin-bottom: 0;
}

.main .hold-down-text {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
}

.main .hold-down .square {
  background: rgba(0,0,0,1);
  cursor: pointer;
  height: 100px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 242%;
  width: 100px;
  transform: translate(-50%, -76%);
  transition: width 1s, height 1s, transform 1s;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.main .get-uncomfortable {
  color: #fff;
  font-weight: 600;
  left: 50%;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  top: -170%;
  transform: translateX(-50%);
}

.main .hold-down .square.expand, .main .hold-down .square.expanded {
  height: 100vh !important;
  width: 100vw !important;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Projects
-------------------------------------------------- */
.work {
  height: auto;
}
.work .main {
  text-align: center;
}
.work .main-container {
  margin-top: -105px;
}
.teaser li {
  height: 400px;
  position: relative;
}
.work .teaser li:hover .main-image {
  opacity: 0.3;
}
.work .teaser li:hover .work-teaser-text {
  opacity: 1;
}
.work .work-teaser-text {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: opacity 0.2s ease-out;
  width: 90%;
}
.work .main-image {
  background-position-y: 25% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-out;
  width: 100%;
}
.work .main-client {
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  height: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: none;
}
.work .main-headline {
  color: #fff;
  font-size: 2.3em;
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: none;
}
.work .main-subtitle {
  color: #fff;
  font-size: 1.3em;
  font-weight: 200;
  text-decoration: none;
  text-transform: none;
}
.client-list {
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
.client-list .clients-header {
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  height: 37px;
  letter-spacing: 2px;
  margin-bottom: 10px !important;
  text-transform: none;
}
.client-list .row {
  margin: 40px auto;
}
.client-list img {
  display: inline-block;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  width: 165px;
}
.client-list .row.clients-close {
  cursor: pointer;
  font-size: 42px;
  margin-bottom: 15px;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  color: red;
  float: left;
  list-style: none;
  margin-right: 2em;
}
.meta li b {
  color: #000;
  font-weight: 400;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.teaser li {
  list-style: none;
}
.teaser h3 {
  font-size: 90px;
  font-weight: 600;
  line-height: 50px;
}
.teaser li h3 a {
  display: inline-block;
  height: 72px;
  margin-bottom: -15px;
}

/* Single Project
-------------------------------------------------- */
.single-project .text {
  background: #fff;
  color: #000;
  height: auto;
  min-height: 100vh;
  padding: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 1;
}
.single-project em {
  font-size: 60px;
  font-style: normal;
  line-height: 66px;
  text-decoration: underline;
}
.single-project .text h3 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3px;
  color: #ef4849;
}
.single-project .text .headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.single-project .text .subtitle {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: black;
}

.project-desc p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.project-desc h1 {
  margin-bottom: 0;
}
.project-desc h1 strong {
  font-size: 60px;
  line-height: 66px;
}
.single-project .text .project-desc {
  position: relative;
}
.single-project .nextprev a {
  /*bottom: 30px;*/
  cursor: pointer;
  font-size: 3em;
  color: #a0a1a4;
  height: 50px;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.5s ease-out;
  width: 50px;
  z-index: 6;
}
.single-project .nextprev a:hover {
  /*background: #000;*/
  color: #000000;
}
.single-project .nextprev a.prev {
  /*left: 45%;*/
  position: fixed;
  top: 36%;
  left: 5%;
}
.single-project .nextprev a.next {
  /*left: 55%;*/
  position: fixed;
  top: 36%;
  right: 0%;
}
.single-project .text .project-close {
  cursor: pointer;
  font-size: 36px;
  right: 5%;
  position: absolute;
  top: 20px;
}
.single-project .text .project-close a {
  color: #a0a1a4;
}
.single-project figure {
  height: 100vh;
  position: fixed;
  right: -20%;
  top: 0;
}
.single-project + footer {
  display: none;
}

/* Capabilities
-------------------------------------------------- */
.capabilities {
  background: #000;
  color: #fff;
  height: auto;
}
.capabilities .logo {
  position: absolute;
  z-index: 3;
}
.capabilities h1 {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 4em;
  font-weight: 600;
  left: 75px;
  line-height: 1em;
  position: absolute;
  text-transform: uppercase;
  top: 150px;
  width: 450px;
}
.capabilities h1 p {
  display: inline;
}
.capabilities h1 span {
  color: #ff0000;
}
.capabilities .top-section {
  background-size: cover !important;
  height: 80vh;
  margin-top: -105px;
  width: 100%;
}
.capabilities .bottom-section {
  display: block;
  height: auto;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.capabilities-image {
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  width: 100%;
}
.capabilities .left-side {
  display: inline-block;
  float: left;
  text-align: center;
  width: 50%;
}
.capabilities .right-side {
  display: inline-block;
  float: right;
  text-align: center;
  width: 50%;
}
.capabilities .box {
  border: 6px solid #fff;
  box-sizing: border-box;
  font-size: 1.7em;
  font-weight: 700;
  height: 260px;
  line-height: 1em;
  margin: 50px auto 0 auto;
  padding: 52px 10px 10px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
}
.capabilities .right-side .box {
  padding: 55px 30px 10px 30px;
}
.capabilities .subtext {
  font-size: 0.7em;
  font-weight: 100;
  line-height: 1.3em;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 260px;
}
.capabilities .lets-talk {
  border-bottom: 4px solid #ff0000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
}
.capabilities .lets-talk:hover {
  border-bottom: 4px solid #ff0000;
}


/* About
-------------------------------------------------- */
.about,
.contact {
  background: rgba(0,0,0,1);
}
.about .header a,
.contact .header a {
  color: rgba(255,255,255,1) !important;
}
.about .header a:hover,
.contact  .header a:hover {
  color: rgba(255,0,0,1);
}
.about #nav-icon span,
.contact #nav-icon span {
  background: rgba(255,255,255,1) !important;
}
.about footer .colophon .right a,
.contact footer .colophon .right a {
  color: #fff;
}
.about footer .copyright,
.contact footer .copyright {
  color: #fff;
}
#AboutContent {
  background: rgba(0,0,0,1);
  margin: 0 auto;
  color: rgba(255,255,255,1);
}
.about .main-container {
  overflow: hidden;
}
.about .header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
#aboutLanding {
  align-items: flex-start;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}
#aboutLanding h1 {
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
  margin: 0 0 0 1em;
  white-space: nowrap;
  z-index: 1;
}
#aboutLanding h1 span {
  background: #ff0000;
  display: inline-block;
  height: 16px;
  margin-left: 7px;
  margin-top: 22px;
  vertical-align: middle;
  width: 16px;
}
#aboutBlkbox {
  background: #fff;
  padding: 2em 0;
}
#aboutBlkbox .intro {
  margin-top: -20px;
}
#aboutBlkbox h2, #aboutBlkbox h3 {
  font-weight: 700;
  max-width: 900px;
  margin: .5em auto;
  color: #000 !important;
}
#aboutBlkbox h2 {
  font-size: 1.8em;
  max-width: 1000px;
}
#aboutBlkbox > h3 {
  font-size: 3em;
  margin: 0 auto !important;
}
#aboutBlkbox > h3 p {
  margin: 0 auto;
}
#aboutBlkbox p {
  max-width: 890px;
  margin: 1em auto;
  color: #000 !important;
}
#aboutBlkbox > p {
  font-weight: 200;
}
#aboutBlkbox,
#aboutStaff {
  padding: 2em 0;
}
#aboutStaff .flex {
  flex-flow: row wrap;
  z-index: 1;
}
#aboutStaff {
  background-size: 70%;
}
#aboutStaff > p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  z-index: 1;
  background: #000;
  padding: 0.5em 3em;
  display: inline-block;
  position: relative;
}
#aboutStaff .staffMember {
  margin: 15px;
  width: 260px;
  align-items: center;
}
#aboutStaff .staffMember .imgCont {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 4px solid #fff;
  box-sizing: border-box;
  height: 260px;
  margin: 0 auto 1em;
  width: 260px;
}
#aboutStaff .staffMember .staffId {
  width: 100%;
  background: #000;
  padding: 0.5em 0;
}
#aboutStaff .staffMember .staffId h3,
#aboutStaff .staffMember .staffId h4 {
  margin-bottom: 0 !important;
  padding: 0 !important;
  font-weight: 700;
}
#aboutStaff .staffMember .staffId h3 {
  font-size: .8em;
}
#aboutStaff .staffMember .staffId h4 {
  font-size: .6em;
}
#aboutGram {
  margin: 100px auto 0 auto;
}
#photoStream {
  margin: 2em 0;
  width: 100%;
}
#photoStream .imgCont {
  border: 5px solid #fff;
  box-sizing: border-box;
  width: 18%;
}
#photoStream .imgCont:nth-child(6) {
  display: none;
}
#photoStream .imgCont img {
  width: 100%;
  height: auto;
}
#aboutGram p {
  text-transform: uppercase;
  font-weight: 700;
}
#AboutContent #letsTalk {
  border-bottom: 3px solid rgba(255,0,0,1);
  margin: 0 auto 50px auto;
}
#AboutContent #letsTalk a {
  color: white !important;
}

/* Contact
-------------------------------------------------- */
.contact {
  background: rgba(0,0,0,1);
  overflow: hidden;
}
.contact header {
  position: absolute;
  width: 100%;
  z-index: 3;
}
.contact footer {
  z-index: 3;
  position: absolute;
}
.contact iframe {
  margin-top: -44px;
  width: 390px !important;
}
.contactContent {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.contactContent .imgCont {
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.contactContent .imgCont img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.5;
}
.contactContent .pageTitle {
  margin-top: 2em;
  font-size: 3.5em;
  opacity: 1;
}
#boxCont {
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
}
#boxCont h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
#boxCont p {
  text-align: center;
  font-size: .9em;
  margin: 0;
}
#boxCont > a {
  max-width: 260px;
  max-height: 260px;
  min-width: 260px;
  min-height: 260px;
  border: 5px solid white;
  box-sizing: border-box;
  margin: 10px;
  color: white;
  flex: 1 0 33%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#boxCont > a:hover {
  color: red;
  border: 5px solid red;
}

#contactCTA {
  margin-top: 1em;
  line-height: 1.2em;
}

#contactCTA p {
  color: white;
  padding-bottom: 10px;
}

#contactCTA input {
  height: 30px;
}

#email {
  width: 25%;
}

#emailSubmit {
  width: 10%;
  background: white;
}

input::-webkit-input-placeholder {
    color: #a0a1a4;
    padding-left: 5px;
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: #a0a1a4;
    padding-left: 5px;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: #a0a1a4;  
    padding-left: 5px;
}
 
input:-ms-input-placeholder {  
    color: #a0a1a4;
    padding-left: 5px;  
}

/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
footer {
  display: none;
}
.home footer, .work footer, .capabilities footer, .about footer, .contact footer {
  display: block;
}
.home .footer, .home .footer .colophon .right a {
  color: #fff;
}
.footer {
  bottom: 0;
  font-size: .6em;
  left: 0;
  padding: 1em 1.5em 1.5em 1.5em;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.footer-logo {
  font-weight: 600;
}
.work .footer, .capabilities .footer {
  color: #fff;
}
.copyright {
  bottom: 10px;
  float: left;
  position: absolute;
  z-index: 1;
}
.colophon {
  float: right;
}
.colophon .right {
  bottom: 10px;
  display: inline-block;
  float: right;
  position: absolute;
  right: 20px;
  z-index: 1;
}
.colophon .right a {
  margin-left: 20px;
}
.footer .colophon .right a i {
  font-size: 1.3em;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}
.capabilities .colophon .right a {
  color: #fff;
}

body.about .footer {
  color: white !important;
}

/* Keyframes
-------------------------------------------------- */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fadeIn {
  animation-name: fadeIn;
}
