
/*mobile styling*/
@media screen and (max-width: 480px) {

/* GLOBAL
-------------------------------------------------- */
  body {
    overflow-x: hidden;
  }

/* Header
-------------------------------------------------- */
  .header {
    background: #000;
  }
  .logo {
    color: #fff;
    left: 0;
    padding-top: 1.2em;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  #nav-icon {
    margin: 1.3em 1.5em 0 30px;
  }
  #nav-icon span {
    background: #fff;
  }


/* Nav
-------------------------------------------------- */
  #nav-icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
  }
  nav {
    transition: none;
  }
  .menu.show {
    height: 100vh;
    left: 0;
    padding: 0;
  }
  .menu > li > a {
    border-top: none;
    color: #fff;
    font-size: 42px;
  }
  .menu li:first-of-type {
    margin-top: 40%;
  }


/* HOME
-------------------------------------------------- */
  .home {
    height: auto;
  }
  .main .big-text {
    font-size: 52px;
    margin-left: 20px;
  }
  .home video {
    width: 250%;
    margin-left: -50%;
  }
  .home .text {
    margin-top: -30px;
  }

/* CAPABILITIES
-------------------------------------------------- */
  .capabilities {
    height: 210vh;
  }
  .capabilities .top-section {
    background-position-x: 50% !important;
    height: 70vh;
  }
  .capabilities h1 {
    font-size: 2em;
    left: 40px;
    top: 100px;
    width: 56%;
  }
  .capabilities .left-side, .capabilities .right-side {
    width: 100%;
  }


/* PROJECTS
-------------------------------------------------- */
  .work {
    overflow: hidden;
  }
  .teaser h3 {
    font-size: 32px;
    line-height: 32px;
  }
  .teaser li h3 a {
    height: 50px;
  }
  .project-image-holder {
    width: 270vw;
  }
  .client-title {
    font-size: 20px;
    margin-top: 30px;
  }
  .client-list img {
    width: 75px;
  }
  .single-project .text {
    left: 5%;
    padding-top: 60px;
    top: 14%;
    width: 90%;
  }
  .single-project .text .headline {
    font-size: 32px;
    line-height: 32px;
  }
  .single-project .text .subtitle {
    margin-bottom: 30px;
  }
  .single-project figure {
    left: -50%;
    opacity: 0.5;
    right: auto;
  }
  .single-project figure img {
    height: 100vh;
    max-width: none;
  }


/* Footer
-------------------------------------------------- */

  .home .footer {
    bottom: -290px;
    color: #000;
  }
  .home .footer .colophon a {
    color: #000;
  }
  .footer, .footer .left, .footer .colophon a {
    color: #fff;
  }
  footer .copyright {
    display: none;
  }
}