
/*mobile styling*/
@media screen and (max-width: 767px) {

/* GLOBAL
-------------------------------------------------- */
  body, .main-container {
    overflow-x: hidden;
  }

  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }

/* Header
-------------------------------------------------- */
  .header {
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    z-index: 4;
  }
  .logo {
    color: #fff;
    left: 0;
    padding: 0.8em;
    background: none;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  #nav-icon {
    margin: 1em 1.5em 0 30px;
  }
  #nav-icon span {
    background: #fff;
  }


/* Nav
-------------------------------------------------- */
  #nav-icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
  }
  nav {
    transition: none;
  }
  .menu.show {
    height: 100vh;
    left: 0;
    padding-top: 15%;
  }
  .menu > li > a {
    border-top: none;
    color: #fff;
    font-size: 32px;
    height: 40px;
    line-height: 32px;
    padding-top: 37px;
    width: 90%;
  }
  .menu li:nth-of-type(4) a {
    width: 60%;
  }
  .menu li:nth-of-type(3) a, .menu li:nth-of-type(4) a {
    padding-top: 22px;
  }
  .menu > li {
    margin: 50px auto 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 120px;
  }


/* HOME
-------------------------------------------------- */
  .home {
    background: #000;
    height: auto;
  }
  .main .big-text {
    font-size: 52px;
    margin-left: 20px;
  }
  .home video {
    pointer-events: auto;
    width: 330%;
    margin-left: -113%;
  }
  .home .video-overlay {
    display: none;
  }
  .home .video-holder {
    height: 100vh;
    overflow: hidden;
    margin-top: 0px;
    width: 100vw;
  }
  .home .scroll-down {
    left: 0;
    margin-left: -140px;
    pointer-events: none;
    width: 100%;
    z-index: 3;
  }
  .home .text {
    margin-top: -20px;
  }
  .main .get-uncomfortable {
    display: none;
  }
  .mobile-gif {
    left: 0;
    position: absolute;
    top: 0;
  }
  .home .video-holder .fa-volume-up, .home .video-holder .fa-volume-off {
    display: none;
  }
  .top-gif {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    z-index: 3;
    -webkit-touch-callout: none !important;
  }

/* CAPABILITIES
-------------------------------------------------- */
  .capabilities {
    height: auto;
  }
  .capabilities header {
    margin-bottom: 0;
  }
  .capabilities .top-section {
    background-position-x: 50% !important;
    height: 300px;
    margin-top: 75px;
  }
  .capabilities h1 {
    font-size: 2em;
    left: 40px;
    top: 120px;
    width: 56%;
  }
  .capabilities .left-side, .capabilities .right-side {
    width: 100%;
  }
  .capabilities .subtext {
    width: 100%;
    font-size: 0.9em;
  }



/* PROJECTS
-------------------------------------------------- */
  .work .main-container {
    margin-top: 0;
  }
  .work .teaser {
    margin-top: 75px;
  }
  .work .teaser li {
    height: 200px;
  }
  .half-opacity {
    opacity: 0.4;
  }
  .opacity {
    opacity: 1;
  }
  .work .main-image {
    background-position-x: 70% !important;
  }
  .work .main-client {
    font-size: 0.9em;
    height: 41px;
    margin-bottom: 13px;
  }
  .work .main-headline {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .work .main-subtitle {
    font-size: 0.9em;
    line-height: 1.4em;
  }
  .client-list img {
    width: 75px;
  }
  .work .colophon .right {
    bottom: 15px;
  }
  .project .main-container {
    margin-top: 0;
  }
  .single-project .top-image {
    height: 300px;
  }
  .single-project .text {
    left: 5%;
    padding-top: 60px;
    top: 85px;
    width: 100%;
  }
  .single-project .text .headline {
    font-size: 32px;
    line-height: 32px;
  }
  .single-project .text .subtitle {
    margin-bottom: 30px;
  }
  .single-project figure {
    left: -50%;
    opacity: 0.5;
    right: auto;
  }
  .project-desc p {
    width: 90%;
  }
  .single-project figure img {
    height: 100%;
    max-width: none;
  }
  .single-project .stat-holder {
    height: auto;
    padding: 65px 0 30px 0;
  }
  .single-project .stat-holder .stat-inner .stat h2 {
    margin-top: 20px;
  }
  .single-project .all-projects {
    background: #fff;
    padding-top: 1px;
  }
  .single-project .project-image {
    border-top: 0;
    min-height: 500px;
    object-fit: cover;
  }
  .single-project .big-text-holder {
    height: auto;
    padding: 35px 0;
  }
  .single-project .project-area {
    margin-top: 30px;
  }
  .single-project .project-area .project-area-text {
    height: auto;
    left: 50%;
    right: auto;
    transform: translate(-50%,-50%);
    width: 80%;
  }
  .single-project .project-area:nth-of-type(even) .project-area-text {
    left: 50%;
    right: auto;
    transform: translate(-50%,-50%);
  }
  .single-project .big-text-holder .big-text-inner h2 {
    font-size: 52px;
    max-width: 100%;
  }
  .single-project .nextprev a.prev {
    left: 8%;
  }
  .single-project .nextprev a.next {
    /*left: 60%;*/
  }
  .single-project .stat-holder .stat-inner .stat {
    width: 100%;
  }

/* ABOUT
-------------------------------------------------- */
  #aboutLanding {
    height: 50vh;
  }
  #aboutLanding h1 {
    font-size: 1.6em !important;
    width: 90% !important;
    margin: 0 auto !important;
    text-align: left;
  }
  #aboutLanding h1 span {
    height: 10px;
    margin-top: 9px;
    width: 10px;
  }
  #aboutBlkbox p {
    width: 90% !important;
    font-size: 0.8em;
  }
  #aboutBlkbox h2 {
    width: 90% !important;
    font-size: 1.2em !important;
  }
  #aboutBlkbox h3 {
    font-size: 2em !important;
  }
  #aboutStaff {
    flex-flow: column !important;
    align-items: center;
  }
  #AboutContent #letsTalk {
    margin-bottom: 30px;
  }
  #photoStream {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    transform: none;
    width: 100% !important;
    justify-content: center !important;
  }
  #photoStream .imgCont {
    width: 40%;
    margin: 2%;
  }
  #photoStream .imgCont:nth-child(6) {
    display: inline;
  }

/* Contact
-------------------------------------------------- */
  .contact header {
    position: fixed;
  }
  .contact {
    height: auto;
    overflow-y: scroll !important;
  }
  .contactContent {
    min-height: auto;
  }
  .contactContent > h1 {
    font-size: 2em !important;
    margin-top: 3em !important;
  }
  #boxCont {
    flex-flow: column !important;
    align-items: center;
  }
  #boxCont .box {
    flex: initial !important;
  }
  #contactCTA {
    margin-bottom: 80px;
  }

/* Footer
-------------------------------------------------- */

  .home .footer {
    bottom: -50px;
    color: #000;
  }
  .home .footer .colophon a {
    color: #000;
  }
  .footer, .footer .left, .footer .colophon a {
    color: #fff;
  }
  footer .copyright {
    display: none;
  }
  .colophon .right {
    width: 100%;
    text-align: center;
    right: 0;
  }
  .colophon .right a {
    margin: 0 10px !important;
    margin-left: auto !important;
  }
}

/*fixes for mobile landscape bugs*/
@media screen and (max-width: 767px) and (orientation: landscape) {
  .single-project figure img {
    height: auto;
    width: 100%;
  }
  footer {
    display: none;
  }
}
